<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0">
  <dict>
    <key>char32.uni0020</key>
    <string>char32.uni0020.glif</string>
    <key>char33.uni0021</key>
    <string>char33.uni0021.glif</string>
    <key>char34.uni0022</key>
    <string>char34.uni0022.glif</string>
    <key>char35.uni0023</key>
    <string>char35.uni0023.glif</string>
    <key>char36.uni0024</key>
    <string>char36.uni0024.glif</string>
    <key>char37.uni0025</key>
    <string>char37.uni0025.glif</string>
    <key>char38.uni0026</key>
    <string>char38.uni0026.glif</string>
    <key>char39.uni0027</key>
    <string>char39.uni0027.glif</string>
    <key>char40.uni0028</key>
    <string>char40.uni0028.glif</string>
    <key>char41.uni0029</key>
    <string>char41.uni0029.glif</string>
    <key>char42.uni002A</key>
    <string>char42.uni002A.glif</string>
    <key>char43.uni002B</key>
    <string>char43.uni002B.glif</string>
    <key>char44.uni002C</key>
    <string>char44.uni002C.glif</string>
    <key>char45.uni002D</key>
    <string>char45.uni002D.glif</string>
    <key>char46.uni002E</key>
    <string>char46.uni002E.glif</string>
    <key>char47.uni002F</key>
    <string>char47.uni002F.glif</string>
    <key>char48.uni0030</key>
    <string>char48.uni0030.glif</string>
    <key>char49.uni0031</key>
    <string>char49.uni0031.glif</string>
    <key>char50.uni0032</key>
    <string>char50.uni0032.glif</string>
    <key>char51.uni0033</key>
    <string>char51.uni0033.glif</string>
    <key>char52.uni0034</key>
    <string>char52.uni0034.glif</string>
    <key>char53.uni0035</key>
    <string>char53.uni0035.glif</string>
    <key>char54.uni0036</key>
    <string>char54.uni0036.glif</string>
    <key>char55.uni0037</key>
    <string>char55.uni0037.glif</string>
    <key>char56.uni0038</key>
    <string>char56.uni0038.glif</string>
    <key>char57.uni0039</key>
    <string>char57.uni0039.glif</string>
    <key>char58.uni003A</key>
    <string>char58.uni003A.glif</string>
    <key>char59.uni003B</key>
    <string>char59.uni003B.glif</string>
    <key>char60.uni003C</key>
    <string>char60.uni003C.glif</string>
    <key>char61.uni003D</key>
    <string>char61.uni003D.glif</string>
    <key>char62.uni003E</key>
    <string>char62.uni003E.glif</string>
    <key>char63.uni003F</key>
    <string>char63.uni003F.glif</string>
    <key>char64.uni0040</key>
    <string>char64.uni0040.glif</string>
    <key>char65.uni0041</key>
    <string>char65.uni0041.glif</string>
    <key>char66.uni0042</key>
    <string>char66.uni0042.glif</string>
    <key>char67.uni0043</key>
    <string>char67.uni0043.glif</string>
    <key>char68.uni0044</key>
    <string>char68.uni0044.glif</string>
    <key>char69.uni0045</key>
    <string>char69.uni0045.glif</string>
    <key>char70.uni0046</key>
    <string>char70.uni0046.glif</string>
    <key>char71.uni0047</key>
    <string>char71.uni0047.glif</string>
    <key>char72.uni0048</key>
    <string>char72.uni0048.glif</string>
    <key>char73.uni0049</key>
    <string>char73.uni0049.glif</string>
    <key>char74.uni004A</key>
    <string>char74.uni004A.glif</string>
    <key>char75.uni004B</key>
    <string>char75.uni004B.glif</string>
    <key>char76.uni004C</key>
    <string>char76.uni004C.glif</string>
    <key>char77.uni004D</key>
    <string>char77.uni004D.glif</string>
    <key>char78.uni004E</key>
    <string>char78.uni004E.glif</string>
    <key>char79.uni004F</key>
    <string>char79.uni004F.glif</string>
    <key>char80.uni0050</key>
    <string>char80.uni0050.glif</string>
    <key>char81.uni0051</key>
    <string>char81.uni0051.glif</string>
    <key>char82.uni0052</key>
    <string>char82.uni0052.glif</string>
    <key>char83.uni0053</key>
    <string>char83.uni0053.glif</string>
    <key>char84.uni0054</key>
    <string>char84.uni0054.glif</string>
    <key>char85.uni0055</key>
    <string>char85.uni0055.glif</string>
    <key>char86.uni0056</key>
    <string>char86.uni0056.glif</string>
    <key>char87.uni0057</key>
    <string>char87.uni0057.glif</string>
    <key>char88.uni0058</key>
    <string>char88.uni0058.glif</string>
    <key>char89.uni0059</key>
    <string>char89.uni0059.glif</string>
    <key>char90.uni005A</key>
    <string>char90.uni005A.glif</string>
    <key>char91.uni005B</key>
    <string>char91.uni005B.glif</string>
    <key>char92.uni005C</key>
    <string>char92.uni005C.glif</string>
    <key>char93.uni005D</key>
    <string>char93.uni005D.glif</string>
    <key>char94.uni005E</key>
    <string>char94.uni005E.glif</string>
    <key>char95.uni005F</key>
    <string>char95.uni005F.glif</string>
    <key>char96.uni0060</key>
    <string>char96.uni0060.glif</string>
    <key>char97.uni0061</key>
    <string>char97.uni0061.glif</string>
    <key>char98.uni0062</key>
    <string>char98.uni0062.glif</string>
    <key>char99.uni0063</key>
    <string>char99.uni0063.glif</string>
    <key>char100.uni0064</key>
    <string>char100.uni0064.glif</string>
    <key>char101.uni0065</key>
    <string>char101.uni0065.glif</string>
    <key>char102.uni0066</key>
    <string>char102.uni0066.glif</string>
    <key>char103.uni0067</key>
    <string>char103.uni0067.glif</string>
    <key>char104.uni0068</key>
    <string>char104.uni0068.glif</string>
    <key>char105.uni0069</key>
    <string>char105.uni0069.glif</string>
    <key>char106.uni006A</key>
    <string>char106.uni006A.glif</string>
    <key>char107.uni006B</key>
    <string>char107.uni006B.glif</string>
    <key>char108.uni006C</key>
    <string>char108.uni006C.glif</string>
    <key>char109.uni006D</key>
    <string>char109.uni006D.glif</string>
    <key>char110.uni006E</key>
    <string>char110.uni006E.glif</string>
    <key>char111.uni006F</key>
    <string>char111.uni006F.glif</string>
    <key>char112.uni0070</key>
    <string>char112.uni0070.glif</string>
    <key>char113.uni0071</key>
    <string>char113.uni0071.glif</string>
    <key>char114.uni0072</key>
    <string>char114.uni0072.glif</string>
    <key>char115.uni0073</key>
    <string>char115.uni0073.glif</string>
    <key>char116.uni0074</key>
    <string>char116.uni0074.glif</string>
    <key>char117.uni0075</key>
    <string>char117.uni0075.glif</string>
    <key>char118.uni0076</key>
    <string>char118.uni0076.glif</string>
    <key>char119.uni0077</key>
    <string>char119.uni0077.glif</string>
    <key>char120.uni0078</key>
    <string>char120.uni0078.glif</string>
    <key>char121.uni0079</key>
    <string>char121.uni0079.glif</string>
    <key>char122.uni007A</key>
    <string>char122.uni007A.glif</string>
    <key>char123.uni007B</key>
    <string>char123.uni007B.glif</string>
    <key>char124.uni007C</key>
    <string>char124.uni007C.glif</string>
    <key>char125.uni007D</key>
    <string>char125.uni007D.glif</string>
    <key>char126.uni007E</key>
    <string>char126.uni007E.glif</string>
    <key>logicalnot.uni00AC</key>
    <string>logicalnot.uni00AC.glif</string>
    <key>periodcentered.uni00B7</key>
    <string>periodcentered.uni00B7.glif</string>
    <key>multiply.uni00D7</key>
    <string>multiply.uni00D7.glif</string>
    <key>Gamma.uni0393</key>
    <string>Gamma.uni0393.glif</string>
    <key>uni0394.uni0394</key>
    <string>uni0394.uni0394.glif</string>
    <key>Lambda.uni039B</key>
    <string>Lambda.uni039B.glif</string>
    <key>Pi.uni03A0</key>
    <string>Pi.uni03A0.glif</string>
    <key>Sigma.uni03A3</key>
    <string>Sigma.uni03A3.glif</string>
    <key>alpha.uni03B1</key>
    <string>alpha.uni03B1.glif</string>
    <key>beta.uni03B2</key>
    <string>beta.uni03B2.glif</string>
    <key>gamma.uni03B3</key>
    <string>gamma.uni03B3.glif</string>
    <key>delta.uni03B4</key>
    <string>delta.uni03B4.glif</string>
    <key>epsilon.uni03B5</key>
    <string>epsilon.uni03B5.glif</string>
    <key>theta.uni03B8</key>
    <string>theta.uni03B8.glif</string>
    <key>lambda.uni03BB</key>
    <string>lambda.uni03BB.glif</string>
    <key>uni03BC.uni03BC</key>
    <string>uni03BC.uni03BC.glif</string>
    <key>nu.uni03BD</key>
    <string>nu.uni03BD.glif</string>
    <key>pi.uni03C0</key>
    <string>pi.uni03C0.glif</string>
    <key>sigma.uni03C3</key>
    <string>sigma.uni03C3.glif</string>
    <key>tau.uni03C4</key>
    <string>tau.uni03C4.glif</string>
    <key>phi.uni03C6</key>
    <string>phi.uni03C6.glif</string>
    <key>chi.uni03C7</key>
    <string>chi.uni03C7.glif</string>
    <key>psi.uni03C8</key>
    <string>psi.uni03C8.glif</string>
    <key>quotedblleft.uni201C</key>
    <string>quotedblleft.uni201C.glif</string>
    <key>quotedblright.uni201D</key>
    <string>quotedblright.uni201D.glif</string>
    <key>uni2102.uni2102</key>
    <string>uni2102.uni2102.glif</string>
    <key>uni2115.uni2115</key>
    <string>uni2115.uni2115.glif</string>
    <key>uni211A.uni211A</key>
    <string>uni211A.uni211A.glif</string>
    <key>uni211D.uni211D</key>
    <string>uni211D.uni211D.glif</string>
    <key>uni2124.uni2124</key>
    <string>uni2124.uni2124.glif</string>
    <key>arrowleft.uni2190</key>
    <string>arrowleft.uni2190.glif</string>
    <key>arrowright.uni2192</key>
    <string>arrowright.uni2192.glif</string>
    <key>arrowboth.uni2194</key>
    <string>arrowboth.uni2194.glif</string>
    <key>universal.uni2200</key>
    <string>universal.uni2200.glif</string>
    <key>partialdiff.uni2202</key>
    <string>partialdiff.uni2202.glif</string>
    <key>existential.uni2203</key>
    <string>existential.uni2203.glif</string>
    <key>emptyset.uni2205</key>
    <string>emptyset.uni2205.glif</string>
    <key>element.uni2208</key>
    <string>element.uni2208.glif</string>
    <key>notelement.uni2209</key>
    <string>notelement.uni2209.glif</string>
    <key>uni2218.uni2218</key>
    <string>uni2218.uni2218.glif</string>
    <key>infinity.uni221E</key>
    <string>infinity.uni221E.glif</string>
    <key>logicaland.uni2227</key>
    <string>logicaland.uni2227.glif</string>
    <key>logicalor.uni2228</key>
    <string>logicalor.uni2228.glif</string>
    <key>intersection.uni2229</key>
    <string>intersection.uni2229.glif</string>
    <key>union.uni222A</key>
    <string>union.uni222A.glif</string>
    <key>notequal.uni2260</key>
    <string>notequal.uni2260.glif</string>
    <key>equivalence.uni2261</key>
    <string>equivalence.uni2261.glif</string>
    <key>lessequal.uni2264</key>
    <string>lessequal.uni2264.glif</string>
    <key>greaterequal.uni2265</key>
    <string>greaterequal.uni2265.glif</string>
    <key>propersubset.uni2282</key>
    <string>propersubset.uni2282.glif</string>
    <key>reflexsubset.uni2286</key>
    <string>reflexsubset.uni2286.glif</string>
    <key>uni22C2.uni22C2</key>
    <string>uni22C2.uni22C2.glif</string>
    <key>uni22C3.uni22C3</key>
    <string>uni22C3.uni22C3.glif</string>
    <key>uni27E8.uni27E8</key>
    <string>uni27E8.uni27E8.glif</string>
    <key>uni27E9.uni27E9</key>
    <string>uni27E9.uni27E9.glif</string>
  </dict>
</plist>